<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">


<body style= 'background-color: #fa8072; font-family: Balsamiq Sans, cursive; color:white'>
<body style= 'background-color: #80ced6'>
<div style='position:absolute; top: 50%; left:50%; transform:translate(-50%, -50%)'>
<h1 style='font-size: 50px'> Room Requested! </h1>
<div> You have booked: <%=@booked_space %> </div>

<button style= 'padding:30px; width:550px'><a href="/"> Back to Homepage </button>
</div>
</body>