<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">




<body style= 'background-color: #fa8072'>
<h2 style='font-family: Balsamiq Sans, cursive;
font-family: Permanent Marker, cursive; position:absolute; left: 03%;'><a href="/" style='text-decoration:none; color:white'>MakersBnB</h2>



<div style='position:absolute; top: 40%; left:50%; transform:translate(-50%, -50%);'>
<h1 style='font-size: 50px; font-family: Balsamiq Sans, cursive; color:white;'> Welcome to the MakersBnB! </h1>
<p style='font-size: 20px; font-family: Balsamiq Sans, cursive; color:white;'>courtesy of Courtney, Jacob, Kate and Mohammed </p>


<button  style= 'font-size: 30px; padding:30px; width:250px; font-family: Balsamiq Sans, cursive; border-radius: 80px; position:absolute;left:30%'><a href="/spaces" style='text-decoration:none; color:grey' >Enter </button>
</div>




</body>
