<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Permanent+Marker&display=swap" rel="stylesheet">




<body style= 'background-color: #fa8072; font-family: Balsamiq Sans, cursive; color:white'>


<p style='position:absolute; top: 5%; left:85%; color:white; text-decoration:none'><a href="/add_space" style= 'color:white; text-decoration: none'>Click here to list a space!</a></p>


<h2 style='font-family: Balsamiq Sans, cursive;
font-family: Permanent Marker, cursive; position:absolute; left: 03%; '>MakersBnB</h2>
<h1 style='font-size: 50px; position:absolute; top: 5%; left:39%'>Available rooms!</h1>
<h3 style='position:absolute; left: 3.5%; top: 18%'>Rooms for list:</h3>

<div style='position:absolute; top: 50%; left:15%; transform:translate(-50%, -50%)'>
<form action="/spaces" method="post">

</form>
<ol>
  <% @spaces.each do |room| %>
    <li  style='padding:30px; ' ><%= room.name %> hosted by <%= room.owner_name %> £<%= room.price %> <%= room.description %>
    
    <button type="button"  class="btn btn-primary btn-lg" style= 'position:absolute; left:250%; border-radius:100px; padding:10px;' data-bs-toggle="button" autocomplete="off"><a href="/booked" style='text-decoration:none; color:black; left:20%;'>Request booking </button></a> </li>
  <% end %>
</ol>
</div>

<button style= 'font-size: 15px; padding:15px; width:250px; font-family: Balsamiq Sans, cursive; border-radius: 80px; position:absolute;left:40%; top:90%;'><a  href="/" style = 'text-decoration:none'> Back to Homepage </button>



</body>
