<body style= 'background-color: #80ced6'>

<div style='position:absolute; top: 50%; left:50%; transform:translate(-50%, -50%)'>
<h1 style='font-size: 50px'> You are now viewing Room 1 </h1>

<button style= 'padding:30px; width:550px'><a href="/"> Back to Homepage </button>
</div>
</body>