<body style= 'background-color: #80ced6'>
<h2 style='font-family: Balsamiq Sans, cursive;
font-family: Permanent Marker, cursive; position:absolute; left: 03%'><a href="/">MakersBnB</h2>

<div style='position:absolute; top: 50%; left:50%; transform:translate(-50%, -50%)'>
<h1 style='font-size: 50px'> Viewing Available rooms! </h1>
<ol>
  <% @spaces.each do |room| %>
    <li><%= room %></li>
  <% end %>
</ol>
<button style= 'padding:30px; width:550px'><a href="/"> Back to Homepage </button>
</div>
</body>